.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height, 60px); // loi thi lay 60px
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width, 1150px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 64px;
  height: 60px;
  cursor: pointer;
}

.search-bar {
  width: 320px;
  position: relative;
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  display: flex;
  border: 1.5px solid transparent;

  input {
    flex: 1;
    color: var(--black);
    font-size: 1.6rem;
    background-color: transparent;
    padding-right: 12px;
  }

  &:hover {
    border: 1.5px solid var(--black);
  }

  &:hover .search-btn {
    color: var(--black);
  }

  &:focus-within {
    border: 1.5px solid var(--primary);
  }

  &:focus-within .search-btn {
    color: var(--primary);
  }
}

.search-btn {
  background-color: transparent;
  padding-right: 12px;
  color: rgba(22, 24, 35, 0.75);
}

.profileBtn {
  display: inline-flex;
  margin-left: 20px;

  &:hover {
    transform: scale(1.1);
  }
}
